{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Bienvenu sur la ma page aide</h1>
        <p>Get started with Bootstrap, the world’s most popular framework for building responsive, mobile-first sites, with BootstrapCDN and a template starter page.</p>
    </div>
{% endblock %}